html, body, #root, .App {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 32px;
  overflow: auto;
}
.stairs{
  width: 100%;
  position: relative;
  height: 100%;
}

.word , .magic-output{
  line-height: 1rem;
  margin: 0;
  position: absolute;
  background-color: black;
}
.vertical{
  word-break: break-all;
  width: 1rem;
  background-color: orange; 
  color:red;

}
.horizontal{
  word-break: keep-all;
  background-color: pink;
}
.magic-input {
  position: absolute;
  color: transparent;
  font-size: 1rem;
  padding: 0;
  border: none;
  overflow: hidden;
  resize: none;
  outline: none;
}
.magic-input:focus{
  box-shadow: inset 0px 0px 1px 3px rgb(114, 156, 235);
}
.horizontal-input{
  height: 1rem;
  width: 4rem;
  word-wrap: normal;
  white-space: nowrap;
  line-height: 1rem;
  letter-spacing: -1rem;
}
.vertical-input{
  width: 1rem;
  max-height: 1rem;
  background-color: white;
  transform: rotate(180deg);
  font-size: 0.85rem;
  padding-top: 3rem;
  line-height: 1rem;
  letter-spacing: -3rem;
}
.magic-output{
  color:green;
  pointer-events: none;
  width: fit-content;
}
.vertical-output{
  width: 1rem;
  word-break: break-all;
}
.info{
  position: absolute;
  pointer-events: none;
  padding-left: 1rem;
  font-size: 0.5rem;
  width: 8rem;
  padding-bottom: 8rem;
  color: rgb(255, 255, 255, 0.6);
}